<div class="button-container">
  <button class="mybutton2 pre-arrow" (click)="scrollLeft(buttons)">&#9664;</button>
<div class="buttons" #buttons>
  <button class="btn mybutton" (click)="onclickAllPage('all')">All</button>
  <button class="btn mybutton" (click)="onclickAllPage('live')">Live</button>
  <button class="btn mybutton" (click)="onclickAllPage('music')">Music</button>
  <button class="btn mybutton" (click)="onclickAllPage('roast')">Roast</button>
  <button class="btn mybutton" (click)="onclickAllPage('cooking')">Cooking</button>
  <button class="btn mybutton" (click)="onclickAllPage('news')">News</button>
  <button class="btn mybutton" (click)="onclickAllPage('songs')">Songs</button>
  <button class="btn mybutton" (click)="onclickAllPage('education')">Eduction</button>
  <button class="btn mybutton" (click)="onclickAllPage('movie')">Movie</button>
  <button class="btn mybutton" (click)="onclickAllPage('kids')">Kids</button>
  <button class="btn mybutton" (click)="onclickAllPage('food')">Food</button>
  <button class="btn mybutton" (click)="onclickAllPage('gaming')">Gaming</button>
  <button class="btn mybutton" (click)="onclickAllPage('stand up')">StandUp</button>
</div>
<button class="mybutton2  next-arrow" (click)="scrollRight(buttons)">&#9654;</button>
</div>

<div class="videodisplay" *ngIf="isvideo1">
  <div class="single" *ngFor="let video of videos">
    <app-single-video   [video]="video" [isvideo1]="isvideo1" style="cursor: pointer" />
  </div>
</div>

<div class="videodisplay" *ngIf="!isvideo1">
  <div class="single" *ngFor="let video of othervideos">
    <app-single-video  [video2]="video" [isvideo1]="isvideo1" style="cursor: pointer" />
  </div>
</div>
