<div  class="video-container" *ngFor="let video of videos">
  <div class="thumbnail-container">
    <img (click)="gotoVideo(video)" [src]="video.thumbnail" alt="videoThumbnail" class="thumbnail">
  </div>
  <div class="content-container">
    <h3 class="title">{{video.title}}</h3>
    <p class="details">{{video.viewCount}} views <span class="separator"> &middot; </span> {{video.publishDate}}</p>
    <p class="channel-info">
      <img src="{{video.channelThumbnail}}" alt="channelThumbnail" class="channel-thumbnail">
      {{video.channelName}}
    </p>
    <p class="description">{{video.description}}</p>
  </div>
</div>


