<nav class="navbar navbarmaindiv">
    <div class="row" style="cursor: pointer;">
        <div class="col-xs-3 navbarbrand">
            <img (click)="gotomain()" src="download-removebg-preview (1).png" alt="Logo" width="90">
            <h4 (click)="gotomain()">YouTube<sup>PK</sup></h4>              
        </div>
        <div class="col-xs-6  navbarbrand2">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchtext">
            <button (click)="gotoRelevantPage()" class="btn btn-danger" type="button"><fa-icon [icon]="faSearch"></fa-icon></button>         
        </div>

        <div class="pull-right navbar3">
            <button class="btn btn-danger" data-toggle="tooltip" title="Upload Video" type="button" (click)="onGoToAddVideo()">
              <fa-icon [icon]="faVideo"></fa-icon>
            </button>
            <button class="btn btn-danger" type="button" >
                <fa-icon [icon]="faUser"></fa-icon>
            </button>
        </div>

    </div>

</nav>


